<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.apfs.mount-root-writeable-at-shutdown</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
	<key>run-unsigned-code</key>
	<true/>
	<key>proc_info-allow</key>
	<true/>
	<key>com.apple.private.kernel.system-override</key>
	<true/>
	<key>com.apple.private.persona-mgmt</key>
	<true/>
	<key>com.apple.afu.userclientaccess</key>
	<true/>
	<key>com.apple.aop.rose.controller.admin</key>
	<true/>
	<key>com.apple.camera.iokit-user-access</key>
	<true/>
	<key>com.apple.driver.AppleBasebandPCI.user-access</key>
	<true/>
	<key>com.apple.driver.AppleBasebandPCIControl.user-access</key>
	<true/>
	<key>com.apple.driver.AppleConvergedIPCICEBB.user-access</key>
	<true/>
	<key>com.apple.driver.AppleConvergedIPCICEBBControl.user-access</key>
	<true/>
	<key>com.apple.gasgauge.user-access-device</key>
	<true/>
	<key>com.apple.hid.system.user-access-service</key>
	<true/>
	<key>com.apple.iohideventsystem.server</key>
	<true/>
	<key>com.apple.keystore.absinthe</key>
	<true/>
	<key>com.apple.keystore.fdr-access</key>
	<true/>
	<key>com.apple.keystore.obliterate-d-key</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.libFDR.AllowIdentifierOverride</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.private.IOAESAccelerator.fdr-key-handle</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<true/>
	<key>com.apple.private.ProvInfoIOKitUserClient.access</key>
	<true/>
	<key>com.apple.private.PurpleReverseProxy.allowed</key>
	<true/>
	<key>com.apple.private.apfs.trim-active-file</key>
	<true/>
	<key>com.apple.private.applemesa.allow</key>
	<true/>
	<key>com.apple.private.applepearl.allow</key>
	<true/>
	<key>com.apple.private.applesepmanager.allow</key>
	<true/>
	<key>com.apple.private.applesmc.user-access</key>
	<true/>
	<key>com.apple.private.applesse.allow</key>
	<true/>
	<key>com.apple.private.gasgauge-update</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.iowatchdog.user-access</key>
	<true/>
	<key>com.apple.private.security.disk-device-access</key>
	<true/>
	<key>com.apple.private.stockholm.allow</key>
	<true/>
	<key>com.apple.private.usbdevice.setdescription</key>
	<true/>
	<key>com.apple.private.vfs.snapshot</key>
	<true/>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.system-group-containers</key>
	<array>
		<string>systemgroup.com.apple.mobileactivationd</string>
	</array>
</dict>
</plist>
